#chatpage-container {
	position: absolute;
	top: var(--NavBar-Height);

	width: 100%;
	height: calc(100% - var(--NavBar-Height));

	display: flex;
	justify-content: space-between;
	align-items: center;
}
