.wrapper-msgs {
	width: 100%;
	padding: 0 32px;

	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	overflow-y: auto;
}

.message {
	width: fit-content;

	margin-bottom: 8px;

	color: var(--Browned-Text);
	border-radius: var(--Default-BR);
	background-color: var(--Light-Text);
}

.message-right {
	margin-left: auto;
}

.message-left {

}
