.game-creation-btn {
	width: clamp(200px, 30vw, 512px);

	padding: 16px 24px;

	font-size: clamp(0.4rem, 2vw, 1rem);

	border: none 0;

	white-space: initial;
}

.game-creation-divider {
	margin: clamp(16px, 2vw, 48px) 0;

	align-items: center;
	gap: 16px;

	font-size: clamp(0.4rem, 2vw, 0.8rem);
}

.game-creation-divider::after, .game-creation-divider::before {
	width: clamp(64px, 20vw, 512px);
	height: 2px;

	display: block;
	content: "";

	background: var(--Cornered-Honey-Crisped);
}

.columns-wrapper {
	margin-top: 12px;
	padding: 8px;

	justify-content: center;
	gap: 8px;
}

.single-col-wrapper {
	justify-content: flex-start;
	align-self: unset;
}

.columns-txt {
	font-size: clamp(0.2rem, 1.5vw, 0.6rem);
	color: var(--Light-Text);
}

.invitation-game-card {
	width: clamp(200px, 30vw, 512px);

	padding: 0 8px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.invitation-game-card > button {
	min-height: 1.4em;

	padding: 0 0.4em;

	font-size: inherit;
	background-color: var(--Cosmic-Purple);

	transition: background-color .2s ease, color .3s ease;
}

.invitation-game-card > button:hover {
	color: var(--Darks-Back);
	background-color: var(--Mooned-Teal);
}

.ongoing-game-card {
	width: clamp(200px, 30vw, 512px);

	padding: 0 8px;

	cursor: pointer;

	display: flex;
	justify-content: space-between;
	align-items: center;

	transition: transform .2s ease;
}

.ongoing-game-card:hover {
	transform: scale(0.85);
}

.ongoing-game-card > div {
	max-width: 42%;

	flex-grow: 1;

	font-size: inherit;
	color: var(--Crisped-Orange);
	text-align: center;
}
