#game-canvas{
	border: 10px solid var(--Honey-Yellow);
	border-radius: 5px;
}
.scores{
	border-radius: 3px;
	background-color: var(--Honey-Yellow);
}

.score{
	padding: 0.5rem;
}

.light-text{
	color: var(--Light-Text);
}