#game-canvas{
	border: var(--Default-BR) solid var(--Honey-Yellow);
	border-radius: var(--Default-BR);
}
.scores{
	border-radius: 3px;
	background-color: var(--Honey-Yellow);
}

.score{
	padding: 0.5rem;
}

.light-text{
	color: var(--Light-Text);
}