#game-canvas{
	border: var(--Default-BR) solid var(--Honey-Yellow);
	border-radius: var(--Default-BR);
	height: 50%;
}

.game-title {
	color: var(--Light-Text);
	font-size: clamp(0.6rem, 2vw, 1rem);
}

.game-controls {
	font-size: clamp(0.3rem, 2vw, 0.6rem);
}

.scores{
	height: 1.5em;

	padding: 0.5em;

	display: flex;
	justify-content: space-between;
	align-items: center;

	border-radius: var(--Default-BR);
	background-color: var(--Honey-Yellow);

	color: var(--Light-Text);
	font-size: clamp(0.4rem, 2vw, 0.8rem);
}

.scores > span {
	font-size: inherit;
}

.light-text{
	color: var(--Light-Text);
}
