.wrapper-room-input {
	--chat-room-gap: clamp(8px, calc(1vh + 1vw), 32px);
	--chat-room-input-size: clamp(0.5rem, calc(2vh + 1vw), 1.2rem);

	width: 100%;
	min-height: var(--chat-room-input-size);
	max-height: var(--chat-room-input-size);

	padding-right: var(--chat-room-gap);

	display: grid;
	grid-template-columns: 1fr var(--chat-room-input-size);
	gap: var(--chat-room-gap);
}

.wrapper-room-input > input {
	height: var(--chat-room-input-size);
}

.wrapper-room-input > div {
	width: var(--chat-room-input-size);
	height: var(--chat-room-input-size);

	background-color: var(--Honey-Yellow);
	border-radius: var(--Default-BR);

	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper-room-input > div > img {
	--send-icon-size: calc(var(--chat-room-input-size) - 8px);
	width: var(--send-icon-size);
	height: var(--send-icon-size);

	border-radius: var(--Default-BR);
}
