.wrapper-room-input {
	width: 100%;
	height: 1.2rem;

	padding-right: 32px;

	display: grid;
	grid-template-columns: 1fr 1.2rem;
	gap: 32px;
}

.wrapper-room-input > div {
	width: 1.2rem;

	background-color: var(--Honey-Yellow);
	border-radius: var(--Default-BR);

	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper-room-input > div > img {
	--send-icon-size: calc(var(--nav-icon-size) - 8px);
	width: var(--send-icon-size);
	height: var(--send-icon-size);

	border-radius: var(--Default-BR);
}
