.vis-btn {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	font-size: inherit;

	transition: font-size .2s ease;
}

.vis-btn:hover {
	border: none;
	--colour-text: var(--Browned-Text);
	background-clip: unset;
	-webkit-background-clip: unset;

	font-size: clamp(0.1rem, 2.5vw, 0.4rem);
}

.vis-btn-selected {
	color: var(--Light-Text);
}
