.wrapper-col-centered {
    display: flex;
	align-items: center;
    flex-direction: column;
}

.wrapper-matchmaking {
	width: 100%;
	min-height: calc(100% - var(--NavBar-Height));

	position: absolute;
	top: var(--NavBar-Height);
	padding: 1rem 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	white-space: nowrap;
	overflow-y: hidden;
}

.matchmaking-scaling {
	font-size: clamp(0.5rem, 3vw, 2rem);
	color: var(--Light-Text);
}

/* Based on the code by https://blog.hubspot.com/website/css-loading-animation */
.matchmaking-loader {
	--mm-loader-size: clamp(2rem, 10vw, 5rem);
	--mm-border-width: clamp(4px, 2vw, 20px);

	border: var(--mm-border-width) solid var(--Light-Text);
	border-radius: 50%;
	border-top: var(--mm-border-width) solid var(--Honey-Yellow);

	min-width: var(--mm-loader-size);
	min-height: var(--mm-loader-size);

	animation: spinner 4s linear infinite;
}

@keyframes spinner {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
