.profileLeftBar {
    width: 45%;
    position: absolute;
    left:0px;
}

.input-add-friend {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.request-type-buttons{
    display: flex;
    flex-direction: row;
    gap: 25px;
}