#prof-left-bar-container {
	width: 100%;
	height: calc(100% - var(--NavBar-Height));

	position: absolute;
	top: var(--NavBar-Height);

	display: flex;
	align-items: center;
}

#prof-left-bar {
	width: 15%;
	min-width: 190px;
	height: 85%;

	border: 2px solid var(--Honey-Yellow);
	border-left: none;
	border-radius: 0 32px 32px 0;

	justify-content: space-between;
	align-items: flex-start;

	color: var(--Light-Text);
}

#prof-tool-bar-container {
	width: 100%;

	padding: 16px;
}

.input-add-friend {
	width: calc(100% + 25px + var(--nav-icon-size));

	align-items: center;
	gap: 16px;
}

.input-add-friend > input {
	font-size: clamp(0.3rem, 1vw, 0.6rem);
}

.request-type-buttons{
	width: 100%;

	margin-top: 16px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}

.request-type-buttons > button {
	flex-grow: 1;

	font-size: clamp(0.25rem, 1vw, 0.6rem);

	transition: color 0.2s ease-in-out;
}

.request-type-buttons > button:hover {
	color: var(--Light-Text);
}
