.prof-cards-wrapper {
	width: 85%;
	height: 85%;

	padding: 0 32px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	color: var(--Light-Text);
	text-align: center;
	font-size: clamp(0.4rem, 2vw, 1rem);

	overflow: auto;
}

#prof-user-name {
	max-width: 90%;
	min-height: 1.2em;

	margin-top: 8px;
	margin-bottom: 12px;

	text-align: center;
	font-size: clamp(0.5rem, calc(1.5vw + 1vh), 0.75rem);
}

.ellipsed-txt {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.cards-container {
	width: 100%;
	min-height: 432px;

	flex-grow: 1;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: clamp(100px, calc(10vw + 10vh), 200px) 2fr;

	gap: clamp(8px, 2vw, 32px);
}

.cards-container > div {
	display: flex;
	justify-content: space-between;
	align-items: center;

	border-image: var(--Cornered-Honey-Crisped) 1;
	border-style: solid;
	border-width: 2px;
}

.card-body {
	padding: 8px;

	font-size: clamp(0.2rem, 2vw, 1rem);
	text-align: center;
}

.card-title {
	border-top: none;
}

#stats-card {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

#stats-values {
	flex-grow: 1;

	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 8px;

	padding: 8px;

	white-space: pre-line;
	text-align: center;
}

#stats-values > button {
	grid-column: 1 / 4;

	width: 40%;
	padding: 8px;

	font-size: clamp(0.2rem, 1.5vw, 0.6rem);

	transition: background .2s ease;
}

#stats-values > button:hover {
	background: var(--Crisped-Orange);
}

#stats-values > div {
	font-size: clamp(0.3rem, 2vw, 0.8rem);
}

#achievements-card {
	grid-column: 1 / 2;
	grid-row: 2 / 3;

	overflow-y: hidden;
}

#achievements-values {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	gap: 8px;

	overflow-y: auto;
}

#achievements-values > button {
	width: 100%;
	height: 1em;

	padding: 8px;

	font-size: clamp(0.2rem, 1.5vw, 0.6rem);

	transition: background .2s ease;
}

#achievements-values > button:hover {
	background: var(--Crisped-Orange);
}

#history-card {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}

#history-values {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;

	overflow-y: auto;
}

#history-values * {
	font-size: clamp(0.3rem, 2vw, 0.5rem);
}

#history-values > div {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#history-values > div > img {
	width: clamp(32px, 3vw, 64px);
}

.history-user-name {
	max-width: 10vw;

	flex-grow: 1;
}

.history-txt-win {
	font-size: clamp(0.4rem, 2vw, 0.8rem) !important;
	color: var(--Mooned-Teal);
}

.history-txt-loose {
	font-size: clamp(0.4rem, 2vw, 0.8rem) !important;
	color: var(--Cosmic-Purple);
}
