.wrapper-room {
	width: 85%;
	height: 85%;

	padding-left: clamp(0.8rem, 4vw, 1.5rem);

	justify-content: space-between;
}

#chat-no-messages {
	--no-msgs-size: clamp(100px, 40vw, 1000px);

	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: safe center;
	align-items: center;

	overflow-y: auto;
}

#chat-no-messages > p {
	margin: 0;

	text-align: center;
	color: var(--Light-Text);
	font-size: clamp(0.4rem, 4vw, 1rem);
}

#chat-no-messages > img {
	width: var(--no-msgs-size);

	position: relative;
	bottom: 20px;

	z-index: -1;
}
