.wrapper-new-room {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-grow: 1;

	color: var(--Light-Text);
	font-size: 0.7rem;
}

.wrapper-new-room > button {
	margin-top: 8px;
	font-size: clamp(0.4rem, 2.5vw, 0.8rem);
	padding: 0.2rem 0.3rem;
}

.wrapper-vis-btns {
	align-items: center;

	min-width: fit-content;
	width: 620px;
	height: 1.2rem;
}

#wrapper-new-room-pswrd {
	margin-top: 2rem;

	display: grid;
	grid-gap: 8px;
}

#txt-password-strength {
	font-size: 0.5rem;
	text-align: center;
	padding: 0.2rem;
}
