.vis-btn {
	width: 200px;
	height: 100%;

	margin: 0.1rem;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	transition: color .2s ease;
	transition: font-size .2s ease;
}

.vis-btn:hover {
	border: none;
	--colour-text: var(--Browned-Text);
	background-clip: unset;
	-webkit-background-clip: unset;

	color: var(--Light-Text);
}

.vis-btn-selected {
	font-size: clamp(0.3rem, 2.5vw, 0.6rem);
	color: var(--Light-Text);
}

.vis-btn-unselected {
	font-size: clamp(0.2rem, 2.5vw, 0.5rem);
}
