.vis-btn {
	width: 200px;

	margin: 0.1rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.vis-btn:hover {
	border: none;
}

.vis-btn-selected {
	font-size: clamp(0.3rem, 2.5vw, 0.6rem);
}

.vis-btn-unselected {
	font-size: clamp(0.2rem, 2.5vw, 0.5rem);
}
