#lb-main-wrapper {
	width: 15%;
	min-width: 190px;
	height: 85%;

	align-items: flex-start;

	margin-right: clamp(0.8rem, 4vw, 1.5rem);
}

#lb-top-wrapper {
	width: calc(100% + var(--nav-icon-size) / 1.5);
	min-height: var(--NavBar-Height);

	background-color: var(--Honey-Yellow);
	border-top-right-radius: 32px;
	border-bottom-right-radius: 32px;

	color: var(--Browned-Text);

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 10px;
}

#lb-top-wrapper > span {
	flex-grow: 1;
	font-size: clamp(0.3rem, calc(0.8vh + 0.8vw), 0.8rem);
	text-align: center;
}

#lb-bot-wrapper {
	width: 100%;

	flex-grow: 1;

	background: var(--TtB-Honey-Crisped);

	border-bottom-right-radius: 32px;
	border-top: 2px solid;
	border-color: var(--Browned-Text);
	overflow-y : auto;
}
