.dialog-window {
	width: 30%;

	gap: 8px;

	background-color: var(--Light-Text);
	border-radius: 4px;
	color: var(--Browned-Text);

	text-align: center;
	font-size: clamp(0.4rem, 3vw, 1rem);

	z-index: 6;
}

.dialog-window > button {
	padding: 0.2rem;

	font-size: inherit;

	transition: background .2s ease;
}

.dialog-window > button:hover {
	background: var(--Crisped-Orange);
}
