.room-param {
	--params-icon-size: clamp(0.6rem, 4vw, 1.2rem);

	width: 100%;
	height: 100%;

	padding: 0.5rem;

	display: grid;
	grid-template-columns: minmax(2.5rem, 3fr) var(--params-icon-size) 1fr 1fr 1fr;
	grid-auto-rows: 1.8em;
	grid-auto-flow: row;
	gap: 8px;

	color: var(--Light-Text);
	font-size: clamp(0.3rem, 3vw, 0.8rem);

	overflow: auto;
}

.room-param > input {
	font-size: inherit;
}

.room-param > img {
	width: var(--params-icon-size);
	height: var(--params-icon-size);

	align-self: center;

	border: 0px solid transparent;

	transition: border .15s ease;
}

.room-param > img:hover {
	border: 2px solid transparent;
}

.room-param > button {
	--params-btn-font-size: clamp(0.2rem, 1.5vw, 0.5rem);

	min-width: 1.2rem;
	height: 100%;
	min-height: 0;

	padding: 4px;

	border: 2px solid var(--Crisped-Orange);

	background: transparent;

	font-size: var(--params-btn-font-size);
	color: var(--Crisped-Orange);

	overflow: hidden;
}

.room-param > button:hover {
	border: none;

	font-size: calc(var(--params-btn-font-size) - 0.05rem);
}

.room-param-user-name {
	grid-column: 1;

	padding: 8px;

	cursor: pointer;

	border-bottom: 2px solid var(--Honey-Yellow);
	border-image: var(--Cornered-Honey-Crisped) 1;

	font-size: inherit;
	color: var(--Light-Text);

	transition: border-image .4s ease;
}

.room-param-user-name:hover {
	border-image: var(--LtR-Mooned-Cosmic) 1;
}

#delete-btn {
	grid-column: 5;
}

#demote-btn {
	grid-column: 3;

	border: none;

	background-color: var(--Crisped-Orange);
	color: var(--Browned-Text);
}

#promote-btn {
	grid-column: 3;

	border: none;

	background-color: var(--Mooned-Teal);
	color: var(--Darks-Back);
}

#unmute-btn {
	grid-column: 4;

	border: none;

	background-color: var(--Crisped-Orange);
	color: var(--Browned-Text);
}

#mute-btn {
	grid-column: 4;

	border: none;

	background-color: var(--Cosmic-Purple);
	color: var(--Darks-Back);
}



/* Delete page */
.param-subpage-container {
	width: 100%;
	height: 100%;

	padding: 16px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;

	color: var(--Light-Text);

	overflow-y: auto;
}

.param-subpage-container > button {
	padding: 0.3em;

	font-size: clamp(0.4rem, 2vw, 0.8rem);

	transition: color .15s ease, background-color .15s ease;
}

.param-subpage-container > button:hover {
	color: var(--Light-Text);
}

#delete-page-del-btn {
	background-color: var(--Crisped-Orange);
}

#delete-page-del-btn:hover {
	color: var(--Crisped-Orange);
	background-color: transparent;
}
