.ranking-window {
	width: 90%;

	flex-grow: 1;
}

.ranking-title {
	padding: clamp(0.1rem, 1vh, 0.3rem) 0;

	font-size: clamp(0.4rem, 2vw, 0.9rem);
	text-align: center;

	border-color: var(--Honey-Yellow);
	border-width: 2px;
	border-style: solid;
	border-top: none;
	border-left: none;
	border-right: none;
}

.ranking-positions-container {
	flex-grow: 1;

	white-space: nowrap;
	overflow-y: auto;
}

.ranking-position-wrapper {
	width: 100%;

	padding: 8px;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: clamp(4px, 1vw, 16px);
}

.ranking-position-wrapper > div {
	font-size: clamp(0.24rem, calc(0.6vh + 1vw), 0.8rem);
}

.ranking-position-rank {
	color: var(--Honey-Yellow);

	transform: scale(1.2);
}

.ranking-position-user-name {
}

.ranking-position-wins {
	color: var(--Mooned-Teal);
}

.ranking-position-looses {
	color: var(--Cosmic-Purple);
}



.all-ach-wrapper {
	width: 100%;

	padding: 6px;

	gap: 6px;
}

.ach-card-container {
	--params-icon-size: clamp(0.6rem, 4vw, 1.2rem);

	width: 100%;

	padding: 8px;

	display: grid;
	grid-template-columns: auto var(--params-icon-size);
	gap: 8px;

	border: 2px solid var(--Honey-Yellow);
	border-image: var(--Cornered-Honey-Crisped) 1;

	text-align: left;
}

.ach-card-title {
	grid-column: 1;
	grid-row: 1;

	font-size: clamp(0.3rem, calc(1vh + 1.5vw), 0.6rem);
}

.ach-card-subtitle {
	grid-column: 1;
	grid-row: 2;

	font-size: clamp(0.2rem, calc(0.5vh + 1vw), 0.4rem);


/* Best way to ensure the subtitle is displayed in full when it overflows? */
	white-space: nowrap;
	overflow-x: auto;
}

.ach-card-back {
	grid-column: 2;
	grid-row: 1 / 3;

	background-color: var(--Trans-Light-Text);
}

.ach-card-img {
	grid-column: 2;
	grid-row: 1 / 3;

	z-index: 3;
}
