.ranking-window {
	width: 90%;

	flex-grow: 1;
}

.ranking-title {
	display: flex;

	font-size: clamp(0.3rem, 2vw, 0.8rem);
	text-align: center;

	border-bottom: 2px solid var(--Honey-Yellow);
}

.ranking-title > button {
	width: 1.5em;
	height: 1.5em;

	border-radius: 0;

	font-size: inherit;
}

.ranking-title > button:hover {
	color: var(--Light-Text);
}

.ranking-title > span {
	flex-grow: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: inherit;
}

.ranking-positions-container {
	flex-grow: 1;

	white-space: nowrap;
	overflow-y: auto;
}

.ranking-position-wrapper {
	width: 100%;

	padding: 8px;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: clamp(4px, 1vw, 16px);
}

.ranking-position-wrapper > div {
	font-size: clamp(0.24rem, calc(0.6vh + 1vw), 0.8rem);
}

.ranking-position-rank {
	color: var(--Honey-Yellow);

	transform: scale(1.2);
}

.ranking-position-user-name {
}

.ranking-position-wins {
	color: var(--Mooned-Teal);
}

.ranking-position-looses {
	color: var(--Cosmic-Purple);
}



.all-ach-wrapper {
	width: 100%;

	padding: 6px;

	gap: 6px;
}

.ach-card-container {
	--params-icon-size: clamp(0.6rem, 4vw, 1.2rem);

	width: 100%;

	padding: 8px;

	display: grid;
	grid-template-columns: auto var(--params-icon-size);
	gap: 8px;

	border: 2px solid var(--Honey-Yellow);
	border-image: var(--Cornered-Honey-Crisped) 1;

	text-align: left;
}

.ach-card-title {
	grid-column: 1;
	grid-row: 1;

	padding-right: 4px;

	font-size: clamp(0.2rem, 1.5vw, 0.4rem);
}

.ach-card-subtitle {
	grid-column: 1;
	grid-row: 2;

	padding-right: 4px;

	font-size: clamp(0.15rem, 1vw, 0.2rem);
}

.ach-card-back {
	width: calc(100% + 16px);
	height: calc(100% + 16px);

	position: relative;
	bottom: 8px;
	right: 8px;

	grid-column: 2;
	grid-row: 1 / 3;

	background-color: var(--Trans-Light-Text);
}

.ach-card-img {
	width: 100%;
	height: 100%;

	grid-column: 2;
	grid-row: 1 / 3;

	z-index: 3;
}
