.create-game-title {
	color: var(--Light-Text);
	font-size: clamp(0.5rem, 3vw, 1.2rem);
}

.create-game-btns-wrapper {
	width: clamp(300px, 30vw, 500px);

	gap: 8px;
}

.cancel-game-btn {
	background: var(--Crisped-Orange);
}

.create-game-btn {
	min-height: 2em;
}

select {
	font-family: 'Bungee';
    font-size: 24px;
    background: var(--Darks-Back);
    color: var(--Honey-Yellow);
}

.classic-color
{
	color: white;
}

.gboy-color
{
	color: #9cad87ff;
}

.mad-color
{
	color: #ee9a33ff;
}

.pastel-color
{
	color: #fe7160ff;
}

.red-color
{
	color: red;
}