.create-game-title {
	color: var(--Light-Text);
	font-size: clamp(0.5rem, 3vw, 1.2rem);
}

.create-game-btn {
	min-height: 2em;
}

label {
	color: var(--Light-Text);
	font-size: clamp(0.5rem, 2vw, 1rem);
}

fieldset {
	padding: 32px;
	margin-bottom: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 16px;

	border: solid 2px var(--Honey-Yellow);
	border-image: var(--Cornered-Honey-Crisped) 1;
}

input[type="number"] {
	padding: 8px;

	text-align: center;
	font-size: clamp(0.3rem, 2vw, 0.6rem);
}

input[type="checkbox"] {
	width: 1rem;
	height: 1rem;
	accent-color: var(--Honey-Yellow)
}

input[type="range"] {
	accent-color: var(--Honey-Yellow)
}

.btn-padded {
	padding: 1rem;
}