#wp-username-input {
	grid-column: 2 / 4;
	grid-row: 1;
}

#wp-submit-no-2fa {
	grid-column: 2 / 4;
	grid-row: 2;

	padding: 0;
	min-height: var(--row-gap);
}

#wp-2fa {
	grid-column: 2 / 3;
	grid-row: 2;
}

#wp-submit-2fa {
	grid-column: 3 / 4;
	grid-row: 2;

	padding: 0;
	min-height: var(--row-gap);
}

.wp-underline {
    width: 100%;
}

.wp-error-msg {
	grid-column: 1 / 3;
	grid-row: 3;

	color: var(--Light-Text);
	text-align: center;
}

/* Maketext responsive */
.wp-responsive-txt {
	font-size: clamp(0.35rem, 3vw, 0.8rem);
}
