#wp-username-input {
	grid-column: 2 / 4;
	grid-row: 1;
}

#wp-2fa-input {
	grid-column: 2;
	grid-row: 2;
}

#wp-submit {
	grid-column: 3;
	grid-row: 2;

	padding: 0;
	min-height: var(--row-gap);
}



/* Make underline full width */
.wp-underline {
    width: 100%;
}



/* Maketext responsive */
.wp-responsive-txt {
	font-size: clamp(0.35rem, 3vw, 0.8rem);
}